
*{
  font-family: raleway;
}
html,body{
  margin: auto;
}

body{
  background-color: #9CCEF4;
  }
.app {
  height: 100vh;
  width: 100%;
  transition: background-color 1s ease-in;
  background-color: #9CCEF4;
}

/* .app__header, */
 .app__main {
  height: 90%;
  background-color: #9CCEF4;
} 
